.card-style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    padding:0.3rem;
    box-shadow: 0 0 1px #8acce2 !important;
    background: rgb(238,174,202);
    background-color: #d40dbc;  
    transition: 0.4s;
  }
  .card-style:hover {
    box-shadow: 0 0 5px rgb(91, 245, 245) !important;
  }
  .category {
    text-decoration: none;
    color: #ffffff !important;
    padding: 0 0.3rem 0 0.3rem;
    margin: 0.3rem;
    transition: 0.8;
    border-radius: 1px;
    width: fit-content;
    font-weight: 100;
    font-size: 1.2rem;
  }
  .discription {
    font-size: 1.2rem;
    color: rgb(245, 239, 247);
    padding: 0.5rem;
  }
  .card-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .edit-delete-btn {
    display: flex;
   color:greenyellow;
  }
  .edit-btn {
    font-size: 1.6rem;
    margin: 0.5rem;
    cursor: pointer;
    padding: 0.1rem;
  }
  .delete-btn {
    font-size: 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
    padding: 0.1rem;
  }
  .edit-btn:hover {
    color: rgb(242, 245, 239);
  }

  .delete-btn:hover {
    color: rgb(242, 245, 239);
  }
  