
.schedule-list {
    background-color:rgb(13, 14, 13);
    width: 35rem;
    margin: 0.5rem auto;
    height: auto;
    box-shadow: 0 0 3px #bfe2ee;
    padding-bottom: 1rem;
    opacity: 0.9;
  
  }

  .add-icon {
    display: block;
    /* margin: auto; */
    border: none;
    font-size: 2rem;
    color: white !important;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(25, 180, 241);
    border-radius:4px;
    margin-left: 31rem;
  }
  .add-icon:hover{
    color:#47adcf !important ;
    background-color: white;
  }

  .card_component{
    display: flex;
   flex-direction: column;
  width: 100%;
  
  }

  @media only screen and (max-width: 600px) {
    .scheddule_list  {
      width: 98%;
    }
  
  }